*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: hsl(0, 0%, 98%) ;
}
header{
    width: 25rem;
    text-align: center;
    margin: 1rem auto;
    .header-thin{
        font-weight: 200;
        line-height: 1.2rem;
        margin: .5rem;
        color: hsl(229, 6%, 66%);
    }
}
.flex-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31rem;
    margin: 1rem 3rem;
    .flex-item{
        width: 20rem;
        height: 15rem;
        background-color: white;
        border: 1px solid black;
        padding: 1rem;
        margin:.1rem 1rem 1rem 0;
        position: relative;
        .flex-item-title{
           font-size: 23px; 
           color:hsl(229, 6%, 66%) ;
           font-weight: 900;
        }
        .flex-item-detail{
            color:hsl(229, 6%, 66%) ;
        }
        .icon{
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 1rem;
        }
        
    }
    .big-con{
        margin-top: 1rem;
    }
    #team{
    border-radius: 10px;
box-shadow: 0rem -.5rem  hsl(0, 78%, 62%);
    }
    #karma{
        border-radius: 10px;
        box-shadow: 0rem -.5rem  hsl(34, 97%, 64%); 
    }
    #super{
        border-radius: 10px;
        box-shadow: 0rem -.5rem  hsl(212, 86%, 64%); 
    }
    #cal{
        border-radius: 10px;
        box-shadow: 0rem -.5rem  hsl(180, 62%, 55%); 
    }
}
@media screen and (max-width:600px) {
    .flex-con{
        flex-direction: column;
       
        height: fit-content;
       
    }
}