*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla',sans-serif;
}
.container{
    padding: 3rem;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    
    .con1{
        background-color: white;
        margin: 1rem 1rem 0 1rem;
        padding: 1rem;
        .title{
           color: hsl(179, 62%, 43%);
           margin-bottom: 1rem;
           font-weight: 900;
        }
        .day{
          color: hsl(71, 73%, 54%);
          margin-bottom: .5rem;
          font-size: 20px;
          font-weight: 700;
        }
        .detail{
            font-size: 20px;
          color: hsl(204, 43%, 93%) ;
          font-weight: 700;
          line-height: 1.2rem;
          padding:1rem 5rem 0 0;
        }
    }
    .con2{
        background-color: yellow;
        margin: 0 1rem 1rem 1rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .con-left,.con-right{
            padding: 1rem;
            background-color: hsl(179, 62%, 43%);
            .con-title{
                color: white;
                font-size: 20px;
                font-weight: 700;
                padding: 1rem 0;
            }
            .month-amount{
                color: hsl(204, 43%, 93%);
                .amount{
                    color: white;
                    font-size: 25px;
                    margin-right: .2rem;
                }
            }
            .con-detail{
                color: white;
                margin: 1rem 0;
            }
            button{
                width: 100%;
                padding: .5rem 1rem;
                border-radius: 5px;
                border: 1px solid hsl(71, 73%, 54%);
                background-color: hsl(71, 73%, 54%);
            }
        }
        .con-right{
            background-color:  hsl(179, 57%, 40%);
        }
    }
}
@media screen and (max-width:600px){
    .container{
        width: 25rem;
        .con2{
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(2,1fr);
           } 
    }
   
}