html{
    width: 100%;
    height: 100%;
}
body{
    font-family: poppins;
    background-color: beige;
    
}
/* navigation bar*/
.navbar{
  display: flex;
  align-items: center;
  padding: 5px;
  overflow: hidden;
  background-color: rgba(252, 252, 159, 0.621);
}
.navbar a {

    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
}
.logo{
margin-right: auto;
}

.navbar input{

    display: block;
    margin: 0 30px; 
    width: 200px;
border-radius: 15px;
border: 2px solid white;
}
.navbar i{

    display: block;
    margin: 0 30px;

}
.dropdown {
   
    float: left;
    overflow: hidden;
    
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(195, 193, 193, 0.534);
    border-radius: 20px;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
margin-top: 50px;
    background-color: beige;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(195, 193, 193, 0.534);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* navigation bar*/

/* The sidebar menu */
.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    left: 0;
    top: 0;
    background-color:  #a9c1fc;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color:  black;
    display: block;
    float: none;
  }
  
 
  .sidenav a:hover {
    background-color: rgba(195, 193, 193, 0.534);
    color: white;
  }

  .sidenav > div {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color:  black;
    display: block;
    float: none;
    margin-bottom: 30px;
  }
  
 
  .sidenav > div:hover {
    background-color: rgba(195, 193, 193, 0.534);
    color: white;
  }
  .main {
    margin-left: 160px;
    padding: 0px 10px;
    }

    /* The sidebar menu */

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
      }
      
      th, td {
        text-align: left;
        padding: 16px;
      }
      
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }