*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: hsl(30, 38%, 92%);
}
.flex-container{
    display: grid;
    border-radius: 10px;
    background-color: white;
    grid-template-columns: repeat(2,19rem );
    margin: 3rem auto;
    width: fit-content;
    
   .flex-item  .img{
    
    width: 18rem;
    border-radius: 5px;
   
   }
   
   .flex-item{
   
  .perview{
   margin: 1rem;
  }
    .title{
        padding: 1rem;
        font-weight: 700;
        font-family: 'Fraunces', serif;
        font-size: 2rem;
        
    }
    .detail{
        font-weight: 700;
        margin: 1rem;
    }
    .amount{
        
        .discount{
        color: hsl(158, 36%, 37%);
        margin:0 1rem;
        font-size: 2rem;
        font-weight: 1000;
        font-family: 'Fraunces', serif;
        }
        .real_amount{
        
            font-weight: 700;
        }
    }
    .button{
        border: 1px solid hsl(158, 36%, 37%);
        border-radius: 5px;
        margin:3rem 1rem 0rem 1rem ;
        text-align: center;
        color: white;
        font-weight: 700;
        background-color:  hsl(158, 36%, 37%);
        padding: .5rem 0 ;
    }
   }
}
@media screen and (max-width:1440px) {
    .flex-item img{
        width: 18rem;
    } 
}
@media screen and (max-width:600px) {
    .flex-container{
       display: grid ;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(2,18rem 5rem);
       width: fit-content;
       margin: 3rem auto;
    }
    .flex-item img{
        width: 25rem;
    }
    .flex-item{
        width: 25rem;
    }
    
    
}
