@media screen and (max-width:600px){
    .big-con{
        width: 18rem;
        flex-direction: column;
    .rate1,.rate2,.rate3{
        width: 16px;
        position: relative;
    }
    }
    .reviews{
        display: flex;
        flex-direction: column;
    }
}